<div class="container">
  <div class="row">
    <h2>Doctor's Apppointment</h2>
    
<a href (click) = 'logout() '>Logout</a>
  </div>
</div>
<div class="container">
  <table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient Name</th>
        <th>Complain</th>
    </tr>
    <tr>
      <td>appointment.appdate</td>
      <td>appointment.time</td>
      <td>appointment.user</td>
      <td>appointment.complain</td>
    </tr>
  </table>

<button type="submit" class="btn btn-default"= [routerLink] ="['dashboard']">Add New Appointment</button>

</div>
